@import './node_modules/bootstrap/scss/bootstrap.scss';


p {
    color: white;
    background-color: black;
}
#smallcol{
    margin-top: 50px;
    margin-left: 0px;
    padding-left: 0px;

}
#bigcol{
    margin-top: 100px;

}
h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.63)
}

footer{
    position: bottom;
    text-align: center;
    left:0px;
    bottom:30px;
    height:30px;
    width:100%;
    margin-top:15px;
    color:white;
    
    }

