<div class="container" id="artcontainer">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <div class="card-deck">
      <div class="card" style="width: 20rem; margin-top:5rem">
        <img class="card-img-top" src="../assets/img/2.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">| Walter White | </h4>
          <p class="card-text">profile description blahblahbblahblahbblahblahbblahblahb</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">photography</li>
          <li class="list-group-item">interest 2</li>
          <li class="list-group-item">interest 3</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Follow</a>

        </div>

      </div>
    </div>
    </div>
    <div class="col">
        <div class="card" style="width:10rem; margin-top:5rem">
              <div class="card-body">
              <h4 class="card-title">| submit 1 |</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

          <div class="card" style="width:10rem">
              <div class="card-body">
              <h4 class="card-title">| submit 2 |</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card" style="width:10rem">
              <div class="card-body">
              <h4 class="card-title">| submit 3 |</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

    </div>
  </div>

