<div class="container" id="artcontainer">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8">
      <div class="card-deck">
      <div class="card" style="margin-top:5rem">
        <div>       
        <img class="card-img-top" style="width: 10rem; height: 10rem" src="../assets/ph/3.jpg" alt="Card image cap">
  

        <hr>
        </div>
  
        <div class="card-body">

            <h2>{{username}}</h2>
            <h4>{{name}}</h4>

            <hr>
         <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad fugiat tenetur sit molestiae quae ab in laudantium ex, reiciendis corrupti ratione magni excepturi sunt! Beatae odit aspernatur molestias ipsa nulla.
        </p> 
        <hr>

        </div>
      
        
            
        <div class="card-body" >        
         <span class="badge badge-pill badge-dark"># {{interest}}</span>
         <span class="badge badge-pill badge-dark">#boringstuff</span>
         <span class="badge badge-pill badge-dark">#notracist</span>
         <span class="badge badge-pill badge-dark">#justhungry</span>
         <hr>  
        </div>
   
        <div class="card-body">
  
          <a href="#" class="card-link">Follow</a>

        </div>

      </div>
    </div>
    </div>
  </div>

