
        <div class="container">
          <div class="row">
                <div class="col">
                </div>
                <div class="col-6">
                 <div class="card"> 
            <img class="card-img-top" src="{{photo.url}}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Submission {{photo.id}}</h4>
              <p>"{{photo.title}}"</p>
              <hr>
              <p>brief author comments</p>
              <hr>
              <div>
                  
               <span class="badge badge-pill badge-dark">{{photo.id}}</span>
               <span class="badge badge-pill badge-dark">#crap</span>
               <span class="badge badge-pill badge-dark">#stuff</span>
               <span class="badge badge-pill badge-dark">#idontcare</span>
     
             </div>
            </div>
           
          
  
            <div class="card-footer">
              
              <small class="text-muted">Last updated 1 mins ago</small>
            </div>
        </div>
        </div>
        <div class="col">
                
       </div>
    </div>

    </div>


