<div class="container" id="artcontainer">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <div class="card-deck" id="digicards">
          <div class="card-deck" >
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Subcategory: boring</h6>
                  <hr>
                  <p class="card-text">blahblahblah blahblahblahblahblahblahblahblahblahblahblah blahblahblahblahblahblah.</p>
                  
                  <hr>
                 
                  <span class="badge badge-pill badge-dark">#literature</span>
                  <span class="badge badge-pill badge-dark">#boringstuff</span>
                  <span class="badge badge-pill badge-dark">#notracist</span>
                  <span class="badge badge-pill badge-dark">#justhungry</span>

                  <hr>
                  <a href="#" class="card-link">Read More</a>
      
                </div>
               <div class="card-footer">
                  <small class="text-muted">Last updated 5 mins ago</small>
              </div>
            </div>
      
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Subcategory: boring</h6>
                  <p class="card-text">blahblahblahblahblah blahblahblahblahblah blahblahblahblahblahblah blahblahblahblah.</p>
                  <a href="#" class="card-link">Read More</a>
      
                </div>
               <div class="card-footer">
                  <small class="text-muted">Last updated 5 mins ago</small>
              </div>
            </div>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Subcategory: boring</h6>
                  <p class="card-text">blah blahblahblahblahblahblahblah blahblahblahblahblahblahblahblah blahblahblahblah.</p>
                  <a href="#" class="card-link">Read More</a>
      
                </div>
               <div class="card-footer">
                  <small class="text-muted">Last updated 5 mins ago</small>
              </div>
            </div>
            </div>
          </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
          <div class="card-deck" id="digicards">
              <div class="card-deck" >
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Subcategory: boring</h6>
                      <p class="card-text">blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah.</p>
                      <a href="#" class="card-link">Read More</a>
          
                    </div>
                   <div class="card-footer">
                      <small class="text-muted">Last updated 5 mins ago</small>
                  </div>
                </div>
          
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Subcategory: boring</h6>
                      <p class="card-text">blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah.</p>
                      <a href="#" class="card-link">Read More</a>
          
                    </div>
                   <div class="card-footer">
                      <small class="text-muted">Last updated 5 mins ago</small>
                  </div>
                </div>
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Subcategory: boring</h6>
                      <p class="card-text">blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah.</p>
                      <a href="#" class="card-link">Read More</a>
          
                    </div>
                   <div class="card-footer">
                      <small class="text-muted">Last updated 5 mins ago</small>
                  </div>
                </div>
                </div>
              </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
              <div class="card-deck" id="digicards">
                  <div class="card-deck" >
                      <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <h6 class="card-subtitle mb-2 text-muted">Subcategory: boring</h6>
                          <p class="card-text">blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah.</p>
                          <a href="#" class="card-link">Read More</a>
              
                        </div>
                       <div class="card-footer">
                          <small class="text-muted">Last updated 5 mins ago</small>
                      </div>
                    </div>
              
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <h6 class="card-subtitle mb-2 text-muted">Subcategory: boring</h6>
                          <p class="card-text">blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah.</p>
                          <a href="#" class="card-link">Read More</a>
              
                        </div>
                       <div class="card-footer">
                          <small class="text-muted">Last updated 5 mins ago</small>
                      </div>
                    </div>
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <h6 class="card-subtitle mb-2 text-muted">Subcategory: boring</h6>
                          <p class="card-text">blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah.</p>
                          <a href="#" class="card-link">Read More</a>
              
                        </div>
                       <div class="card-footer">
                          <small class="text-muted">Last updated 5 mins ago</small>
                      </div>
                    </div>
                    </div>
                  </div>
              </div>
              <div class="col"></div>
            </div>

  </div>
  