@import './node_modules/bootstrap/scss/bootstrap.scss';

#digicards {
    margin-top: 5em;
    width:200%;
    
}
h4 {
    font-size:85%;
    font-weight: bold;
    color: #ec1b5a;  
    
}
#artcontainer{

    width:75%;
    margin-left: 100px;    
}
.badge{
    background-color: #ec1b5a;  
   
}