<div class="container" id="artcontainer">
  <div class="row">
    <div class="col">
 
    </div>
    <div class="col-6" >
      <div class="card-deck" id="digicards">
        <div class="card">
          <img class="card-img-top" src="../assets/img/1.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Submission 1</h4>
            <hr>
            <p>brief author comments</p>
            <hr>
            <div>
                
             <span class="badge badge-pill badge-dark">#digital</span>
             <span class="badge badge-pill badge-dark">#crap</span>
             <span class="badge badge-pill badge-dark">#stuff</span>
             <span class="badge badge-pill badge-dark">#idontcare</span>
   
           </div>
          </div>
         
        

          <div class="card-footer">
            
            <small class="text-muted">Last updated 1 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../assets/img/2.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Submission 2</h4>
            <p>about the submission</p>
            
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 2 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../assets/img/3.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Submission 3</h4>
            <p>blahblahblah</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
  
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
      
      </div>
      <div class="col-6">
        <div class="card-deck" id="digicards">
          <div class="card">
            <img class="card-img-top" src="../assets/img/4.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Submission 4</h4>
              <p>brief author comments</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 5 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../assets/img/5.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Submission 5</h4>
              <p>about the submission</p>
              
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 7 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../assets/img/2.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Submission 6</h4>
              <p>blahblahblah</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 10 mins ago</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
    
      </div>
    </div>

  </div>
</div>



