<div class="container" id="artcontainer">
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
<form>
    <div class="form-group">
      <label for="exampleInputEmail1">User name:</label>
      <input type="text" #logUserName class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password:</label>
      <input type="password" #logPassword class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <button type="button" (click)="onLogin(logUserName.value,logPassword.value)" class="btn btn-dark" id="siteKeyword">Login</button> <span> not a member? <a routerLink="/Register" id="siteKeyword"> Click to REGISTER </a></span>
     
    <h1>Online users:</h1>
    <span *ngFor= "let user of users">
      <div>
        <ngb-accordion>
           <ngb-panel title="{{user.username}}">
          

              <ng-template ngbPanelContent>
                  <div class="card">
                      <div class="card-header">
                        <p>{{user.username}} : </p>
                      </div>
                      <div class="card-block">
                        <blockquote class="card-blockquote">
                            <p> name:  {{user.name}} </p>
                            <p> email: {{user.email}}</p>
                            <p>phone: {{user.phone}} </p>
                            <hr>
                          <footer> website: {{user.website}} </footer>
                        </blockquote>
                      </div>
                    </div>
                   
              
              </ng-template>
         
            </ngb-panel>
          </ngb-accordion>
        </div>

        </span>     
          
 

  </form>

    

</div>
<div class="col"></div>
</div>
</div>